<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <img alt="Google Icon" class="social" src="/assets/icons8-google-48.png">
        <img alt="Google Icon" class="social" src="/assets/icons8-facebook-48.png">
        <img alt="Google Icon" class="social" src="/assets/icons8-apple-30.png">
      </div>

      <span>or use your email for registration</span>
      <input placeholder="Name" type="text"/>
      <input placeholder="Email" type="email"/>
      <input placeholder="Password" type="password"/>
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <div class="social-container">
        <img alt="Google Icon" class="social" src="/assets/icons8-google-48.png">
        <img alt="Google Icon" class="social" src="/assets/icons8-facebook-48.png">
        <img alt="Google Icon" class="social" src="/assets/icons8-apple-30.png">
      </div>
      <span>or use your account</span>
      <input placeholder="Email" type="email"/>
      <input placeholder="Password" type="password"/>
      <a href="#">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p style="font-size: 16px !important; font-weight: 800 !important">To keep connected with us please login with
          your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, aboard!</h1>
        <p style="font-size: 16px !important; font-weight: 800 !important">
          Welcome to the system.
        </p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
